<nav class="navbar navbar-dark navbar-color navbar-expand-lg fixed-top">
    <div class="container">
      <a class="navbar-brand" routerLink="">
        <img class="navbar-brand-image" src="assets/logo.png" alt="Thamizh" title = "Thamizharasan Srinivasan">
      </a>
      <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" 
        aria-expanded="false" 
        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse navbar-items-spacing" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto px-2" *ngFor="let section of sections">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="" fragment="{{section | lowercase}}">{{section | uppercase}}</a>
          </li>
        </ul>
      </div>
    </div>
</nav>
