:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.90);
  background-color: var(--secondary-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-color: #03dac6;
  --secondary-color: #242424;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

@media only screen and (max-width: 767px) {

  #home,
  #about,
  #footer {
    width: 320px;
  }

  .icon {
    margin: 10px !important;
  }

  .scroll-up {
    height: 1.25em;
    position: fixed;
    bottom: 207px;
    right: 25px;
}

  .scroll-top-button {
    bottom: 200px;
    height: 30px;
    width: 30px;
  }

  .flex-row {
    flex-direction: column;
  }

  .about-info {
    width: 100%;
  }

  .separator {
    transform: rotate(90deg);
  }
}